body{
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial;
}

body.home{
	overflow: hidden;
}

@font-face {
    font-family: 'Ailerons';
    src: url('Resources/Fonts/Ailerons-Regular.woff2') format('woff2'),
        url('Resources/Fonts/Ailerons-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

table.dataTable thead th,
table.dataTable tfoot th {
  text-align: center;
}
table.dataTable thead th,
table.dataTable thead td {
  padding: 10px 18px 10px 5px;
}
table.dataTable tbody th,
table.dataTable tbody td {
  padding: 10px 18px 10px 5px;
  text-align: center;
}

#replay-table{
	position: absolute;
	margin: 32px;
	margin-top: 10px;
	left: 100px;
	width: 75%;
	padding-left: 20px;
	display: inline-block;
	transition: left 0.3s linear;
}

#output{
	top: 50px;
}

#select-match-type{
	vertical-align: center;
	top: 65px;
	left: 0px;
	width: 13%;
	transition: left 0.3s linear;
}

#select-date{
	vertical-align: center;
	top: 65px;
	left: 315px;
	width: 13%;
	transition: left 0.3s linear;
}

#select-team-size{
	vertical-align: center;
	top: 65px;
	left: 185px;
	width: 13%;
	transition: left 0.3s linear;
}

#select-map{
	vertical-align: center;
	top: 65px;
	left: 200px;
	width: 13%;
	transition: left 0.3s linear;
}

#filter{
	position: absolute;
	vertical-align: center;
	top: 80px;
	left: 800px;
	width: 14%;
	background: #151718;
	transition: left 0.3s linear;
}

#select-match-type.moved{
	left: 100px;
}

#select-team-size.moved{
	left: 285px;
}

#select-date.moved{
	left: 415px;
}

#select-map.moved{
	left: 300px;
}

#filter.moved{
	left: 900px;
}

#sidebar{
	background: #151718;
	width: 200px;
	height: 100%;
	display: block;
	position: fixed;
	left: -200px;
	top: 0px;
	transition: left 0.3s linear;
}

#sidebar.visible{
	left: 0px;
	transition: left 0.3s linear;
}

#menu-header{
	color: #FFFFFF;
	padding: 20px;
	text-align: center;
	font-family: 'Ailerons';
}

#replay-table.moved{
	left: 200px;
}

#sidebar-btn{
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 15px;
	cursor: pointer;
	margin: 20px;
	position: absolute;
	top: 0px;
	right: -60px;
}

#sidebar-btn span{
	height: 1px;
	background: #111;
	margin-bottom: 5px;
	display: block;
}

#sidebar-btn span:nth-child(2){
	width: 75%;
}

#sidebar-btn span:nth-child(3){
	width: 50%;
}

ul.menu-list{
	margin: 0px;
	padding: 0px;
}

ul.menu-list li{
	list-style: none;
}

ul.menu-list li a{
	/*background: #1C1E1F;*/
	color: #ccc;
	border-bottom: 0px solid #111;
	display: block;
	width: 200px;
	padding: 10px;
	text-decoration: none;
	text-align: center;
}

#populate{
	background: #151718;
}

h1.title-header{
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}

.title-header{
	position: absolute;
	top: 75px;
	left: 0px;
	right: 0;
	bottom: 0;
	text-align: center;
	height: 100%;
	width: 100%;
	vertical-align: middle;
	font-family: 'Ailerons';
	font-size: 100px;
}

h2.subtitle-header{
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}

.subtitle-header{
	position: absolute;
	top: 270px;
	left: 0px;
	right: 0;
	bottom: 0;
	text-align: center;
	height: 100%;
	width: 100%;
	vertical-align: middle;
	font-family: "Courier New";
}
